@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 초기화 */
* {
  margin: 0 ;
  padding: 0 ; 
  li { list-style:none;}
  a { text-decoration: none;} 
}

/* 속성에 대한 변수 활용 */
/* 기본 색상 */
:root {
  --main-color: #5d9ab2;
  --accent-color: #bf6a7a;
  --dark-main-color: #2b5566;
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;

  --larg-width: 1000px;
}

body {
  font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

/* 콘텐츠 A */
.conA {
  display: flex;
  justify-content: center;/*수평 정렬 */
  align-items: center;/* 수직 정렬 */

  height: 100vh;min-height: 450px;

  background-image:
      linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), 
      url(../img/fruits.jpg);
  background-size: cover;
  background-position: center;

  color: #fff;
  color: var(--text-bright-color);

  text-align: center;/* 가로폭을 100% 맞춤 */
  border: 1px solid gray;
}
/* .container {
  border: 1px solid blue;
} */
.conA h1{
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;

  font-size: 48px;/* 320px 일경우 48px 적용 */
  font-size: 15vw;
  letter-spacing: 0.2em;
  margin-left: 0.2em;


}
.conA p {
  font-size: 18px;
}
.conA img { width: 20%;}

.conA a {

  display: inline-block;
  margin-top: 20px;
  
  padding: 10px 30px;
  border: 3px solid currentColor;/* 글자색과 동일 */
  border-radius:6px;

  color:var(--text-bright-color);
  background-color: var(--accent-color);

  font-size: 14px;

}


/* 미디어 쿼리 : 해상도별로 조건 처리 */
@media (min-width: 768px) {
  .conA h1{
    font-size: 115px;
  }
  .conA p {
    font-size: 24px;
  }
}

/* 콘텐츠 B: (아이콘 + 글자) */
.conB .container {
  padding-top:80px;
  padding-bottom: 20px;

  border: 0px solid blue;
}
.conB .text {
  text-align: center;
  padding-bottom: 60px;

  padding-left: 20px;
  padding-right: 20px;
}
/* 2번째 .text요소는 숨기기 */
.conB .text:nth-child(2){
  display: none;
}
.conB h2 {
  margin-bottom:10px;
  font-size: 20px;
}
.conB p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8;
  opacity: 0.8;
}

.conB a {
  color: #5d9ab2;
  color: var(--main-color) ;
  
}
.conB a:hover {
  text-decoration: underline;
}
.conB .icon {
  /* inline -> inline-block으로 전환 */
  display: inline-block;
  margin-bottom: 20px;

  font-size: 40px;
  /* 폰트 크기 기준 */
  width: 2em;
  /* height: 2em; */
  line-height: 2em;
  text-align: center;
  border-radius: 50%;

  background-color: var(--icon-bk-color);
  color: var(--icon-color);

  border: 0px solid blue;
}

/* pc화면(768px이상)일 경우 레이아웃 재배치 */
@media(min-width: 768px){
  .conB .container {
    /* 수직 -> 수평 */
    display: flex;
    /* 최대 가로폭을 설정 */
    max-width: var(--larg-width);
    /* 가운데 배치 */
    margin-left: auto;
    margin-right: auto;
  }
  .conB .text {
    flex: 1;
  }
  /* 숨겨진 요소를 다시 표시 */
  .conB .text:nth-child(2) {
    display: block;
  }
  /* .conB .text:nth-child(1) {
    flex: 1;
  }
  .conB .text:nth-child(2) {
    flex: 1;
  }
  .conB .text:nth-child(3) {
    flex: 2;
  } */
}


/* 콘텐츠 C: (이미지 + 글자) */
.conC {
  background-color: var(--main-color);
  color: var(--text-bright-color);
}
.conC .photo {
  min-height: 200px;

  background-image: url(../img/note.jpg);
  background-size: cover;
  background-position: center;
}
.conC .text {
  padding: 20px;
}
.conC h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.conC p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8em;
  opacity: 0.8;
}

.conC a {
  display: inline-block;
  margin-top: 20px;

  padding: 10px 30px;
  border-radius: 6px;
  /* currentColor  : 폰트색상과 동일 */
  border: 3px solid currentColor;

  color: var(--text-bright-color);
  background-color:var(--accent-color);
  font-size: 14px;

}

.conC a:hover {
  background-image: linear-gradient(
    rgba(255,255,255,0.2), 
    rgba(255,255,255,0.2))
}

/* pc화면(768px이상)일 경우 레이아웃 재배치 */
@media(min-width: 768px){
  .conC .container {
    display: flex;

    max-width:var(--larg-width);
    margin-left: auto;
    margin-right: auto;
    
    

    border:0px solid yellow;
  }
  .conC .photo { flex: 3;}
  .conC .text { flex: 2; padding:50px;}
}




/* 콘텐츠 D: (글자 + 이미지) */

.conD .photo {
  min-height: 200px;

  background-image: url(../img/life.jpg);
  background-size: cover;
  background-position: center;
}
.conD .text {
  padding: 20px;
}
.conD h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.conD p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.8em;
  opacity: 0.8;
}

.conD a {
  display: inline-block;
  margin-top: 20px;

  padding: 10px 30px;
  border-radius: 6px;
  /* currentColor  : 폰트색상과 동일 */
  border: 3px solid currentColor;
  /* 글자 효과 */
  box-shadow : 0 0 0 1px #888;


  color: var(--text-bright-color);
  background-color:var(--accent-color);
  font-size: 14px;

}

.conD a:hover {
  background-image: linear-gradient(
    rgba(255,255,255,0.2), 
    rgba(255,255,255,0.2))
}

/* pc화면(768px이상)일 경우 레이아웃 재배치 */
@media(min-width: 768px){
  .conD .container {
    display: flex;
    flex-direction: row-reverse;

    max-width:var(--larg-width);
    margin-left: auto;
    margin-right: auto;

    padding-top: 40px;
    padding-bottom: 40px;

    border:0px solid blue;
  }
  /* 플렉스 항목을 비율이 아닌 고정 크기 */
  .conD .photo { flex: 0 0 400px; }
  .conD .text {
    flex: 1;
    padding: 50px;
   }
}

/* 푸터 */
footer {

  color: var(--text-bright-color);
  background-color:var(--dark-main-color);
}

footer .container {
  padding: 40px 20px;
}
.footA {
  margin-bottom: 30px;
}
.footA h2{
  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: 0.2em;
}
.footA p {
  font-size: 14px;
}
.footA a {
  color: inherit;/* 부모요소의 색상을 상속 */
}
.footB > div {
  margin-bottom: 20px;
}

.footB h3{
  padding-left: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;

  margin-bottom: 10px;
  font-size: 14px;
}

.footB a {
  display: block;
  padding: 5px;

  color: inherit;
  font-size: 12px;
}
.footB a:hover {
  background-color: rgba(0,0,0, 0.3);
}
.footC {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  footer .container {
    display: flex;
    /* row nowrap */
    /* 여러 줄 */
    flex-wrap: wrap; 

    max-width: var(--larg-width);
    margin-left: auto;
    margin-right: auto;

    border: 0px solid red;

    .footB {
      display: flex;
    }
    .footB div {
      flex: 1;
    }
    .footB div:not(:first-child) {
      margin-left: 40px;
    }
  }

  .footA { flex: 0 0 40%;}
  .footB { flex: 0 0 60%;}
  .footC { flex: 0 0 100%;}
}


